body {
  font-family: 'Arial', sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}

button {
  padding: 10px 20px;
  background-color: #0070f3;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005bb5;
}

select {
  padding: 8px;
  font-size: 16px;
  margin-top: 5px;
}

h1,h2,h3 {
  color: #333;
}
